*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to left, black, lightgrey);
}

.section-calculator{
    display: grid;
    justify-content: space-evenly;
    height: 800px;
    align-items: center;
}

.result-output{
    grid-column: 1 / 2;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 200px;
    height: 100px;
    grid-template-columns: repeat(4, 100px);
    border-radius: 5px;
    font-size: 60px;
    padding-right: 10px;
    border: 5px solid black;
    background-color: lightgrey;
}

#result-field{
    max-width: 380px;
}

.section-result{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 150px;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 100px);
    border-radius: 5px;
}

.row-up{
    background-color: dodgerblue;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 5px;
}

.row-upBottom{
    background-color: #217C7E;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 5px;
}

.row-middle{
    background-color: #217C7E;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 5px;
}

.row-bottomUp{
    background-color: #217C7E;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 5px;
}

.row-bottomDown{
    background-color: #217C7E;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 5px;
}

.row-bottom{
    background-color: #217C7E;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 5px;
}

#section-buttonDevide{
    background-color: orange;
}

#section-buttonMultiply{
    background-color: orange;
}

#section-buttonMinus{
    background-color: orange;
}

#section-buttonPlus{
    background-color: orange;
}

#section-buttonZero{
    grid-column: span 2;
}

#section-buttonEquals{
    background-color: orange;
}